streamlit==1.29.0
pypdf==3.21.0
pandas==2.1.0
python-dotenv==1.0.1
google-generativeai==0.7.2
langchain==0.1.216
langchain-core==0.0.18
langchain-community==0.0.16
langgraph==0.0.5
pdf2image==1.17.1
pytesseract==0.3.10




